@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Serif+4:opsz@8..60&display=swap");

html {
    font-size: 16px;
}

body {
    background-color: hsl(49 37% 94%);
    font-family: "source serif 4", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-family: "Source Code Pro", monospace;
    margin: 0;
    font-size: 2rem;
    position: relative;
}

h1 span {
    position: absolute;
    inset: 0;
    background-color: hsl(49 37% 94%);
    animation: typewrite 4s forwards steps(28) , blink 750ms forwards infinite steps(2, jump-none);
    border-left: 3px solid black;
}

@keyframes typewrite {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        border-color: transparent;
    }
}

@keyframes fadeInslideUp {
    to {
        transform: translatey(0);
        opacity: 1;
    }
}

.subtitle {
    font-size: 1.3em;
    color: hsla(0, 0%, 0%, 0.7);
    opacity: 0;
    transform: translateY(3em);
    animation: fadeInslideUp 2s 4s ease forwards;
}

